<nav aria-label="Pagination du DataGrid" id="{{ datagrid.id }}-pagination">
    <ul class="pagination">
        <li class="page-item {{ datagrid.id }}-pagination-item {{ datagrid.currentPage == 1 ? 'disabled' }}" id="{{ datagrid.id }}-pagination-prev">
            <div class="page-link">Précédent</div>
        </li>
        {% for i in 1..datagrid.nbPages %}
            <li class="page-item {{ datagrid.id }}-pagination-item {{ datagrid.currentPage == i ? 'active' }}" data-nb="{{ i }}">
                <div class="page-link">{{ i }}</div>
            </li>
        {% endfor %}
        <li class="page-item {{ datagrid.id }}-pagination-item {{ datagrid.currentPage == datagrid.nbPages ? 'disabled' }}" id="{{ datagrid.id }}-pagination-next">
            <div class="page-link">Suivant</div>
        </li>
    </ul>
</nav>